@using BikeCommunitySite.Models;
@model Sakura.AspNetCore.IPagedList<BikeCommunitySite.Models.GooglePlaceModel.Result>


@foreach (var item in Model)
{
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <div class="intro-text text-center">
                    @item.name
                    <strong></strong>
                </div>
                <div class="col-md-6">
                    <p>@item.vicinity</p>
                    @*@if (item.photos.Select(s => s.html_attributions).Count()!=0)
                    {
                        @foreach (var photo in item.photos.Select(s=>s.html_attributions).FirstOrDefault())
                        {
                            <img class="img-responsive img-border-left"
                             src="@photo" alt="">

                        }
                    }*@
                </div>
                <div class="col-md-6">
                    @foreach (var type in item.types)
                    {
                        <p>@type</p>               
                    }
                    <p><a href="@Url.Action("PlaceDetails","Place", new {placeId = item.place_id})" class="btn btn-primary" role="button">Details</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
}
